*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gabarito','sans-serif';
}
.nav-bar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    gap: 15px;
   
}
.nav-title{
    color: #A435F0;
    display: flex;
    
    
}
.navbar_ryt{
    display: flex;
    align-items: center;
    gap: 20px;
    align-items: center;
    
}
.navbar_ryt:hover{
    color: #A435F0;
}
.navbar_mid{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 600px;
    display: flex;
    align-items: center;
    gap: 10px;
    

}
.navbar_mid>input{
    font-size: 16px;
    border: none;
    width: 100%;
}
.navbar_mid>input:focus{
    outline: none;
}
.navbar_left{
    display: flex;
    gap: 15px;
    align-items: center;

}
.navbar_left>p:hover{
    color: #A435F0;
}
.list_items{
    position: relative;
    display: inline-block;
    align-items: center;  
}
.dropdown{
    
    display:none;
    position: absolute;
    z-index: 1;
}
.dropdown>a{
    display: block;
    text-decoration: none;
    color: black;
    padding:  6px;
    background-color: #f1f1f1;
}
.list_items:hover .dropdown{
    display: block;
}
.dropdown>a:hover{
    color: #A435F0;
}
.list_items>p{
    border: none;

    
}
